<!--
<div class="jumbotron">
  <h1 class="display-4">Welcome to Interest!</h1>
  <p class="lead">This is a website for finding people with the same or different interest that you have.</p>
  <hr class="my-4">
  <p>Register down below to start the journey.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Register</a>
</div>
-->