<div class="row row-top-height">
    <div class="col shadow">
             <a class="text-decoration-none"href="yourProfile">
            <div class="my-profile">
                
                <h2>My profile<img src="/img_avatar.png" alt="Avatar"></h2>

                
            </div>
            </a>
    </div>
    <div class="col-9 shadow">
        <h1 class="display-4 text-center">Your journey starts now!</h1>
    </div>

</div>
<div class="row browse-content">
    <div class="col border  mobile-hidden">
        <h2 class="text-center ">Recommended</h2>
        <div id="recommended-cards" class="col overflow-auto">

            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-success">Go somewhere</a>
                </div>
            </div>


        </div>
    </div>
    <div class="col-9">
        <div class="jumbotron overflow-auto" id="jumbo-viewPerson">
            <h1>About "name"</h1>
            <div class ="row">
            
                <div class="col">
                    <ul class="list-group ">
                    <h4>Name</h4>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <h4>Last name</h4>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <h4>From</h4>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Vestibulum at eros</li>
    </ul>
                </div>
                <div class="col">
                    <ul class="list-group ">
                    <h4>Interests</h4>
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>


            
          
        </div>
        </div>
    </div>


</div>